*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

body{
    min-height:200vh;
}

table, td{
    text-align: center;
    line-height: 15px;
    border: 0.1px solid black;
  }

.header-title th{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}





.library{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 20vh;
}

/*.books, .author, .pageNumber{
    list-style-type:none;
    padding: 20px;
    margin-right: 40px;
    line-height: 35px;
}*/



.header{
    text-align: center;
}

.container{
    /*height: 35vh;*/
    min-height: 50vh;
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    /*border: 1px solid black;*/
}



.click input{
    width: 150px;
    border: none;
    outline: none;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 25px;
    text-align: center;
}

.click{
    /*margin-left: 50px;*/
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    width: 100%;
    border-radius: 5px;
}

.removeAll:hover{
    background-color: rgb(150, 150, 150);
}

.add:hover{
    background-color: rgb(150, 150, 150);
}

.add, .removeAll{
    border: none;
    width: 80px;
    height: 25px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

#checkButton , #checkButton1{
    border: none;
    width: 20px;
    position: relative;
    top: 8px;
}

label{
    font-size: 12px;
}




















/*.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.books{
    margin-top: 80px;
    display: inline-block;
}

.books li , .author li, .pageNumber li{
    list-style-type: none;
    margin-top: 15px;
    text-align: center;
    line-height: 10px;
    margin: 10px;
}

.books, .author, .pageNumber{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header{
    text-align: center;
    margin: 20px;
}

.click button{
    position: absolute;
    top: 35px;
    border: none;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
    margin-left: 125px;
    border-radius: 5px;
}

.click button:hover{
    background-color: rgb(150, 150, 150);
}
.library{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    width: 500px;
    min-height: 50vh;
    flex-direction: column;
    border-radius: 10px;
}

#title-input,#author-input,#page-input{
    width: 230px;
    border: none;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 25px;
    text-align: center;
    outline: none;
    width: 100px;
    margin: 5px;
}

.click{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 5px;
}*/
